In [0]:
-- Find customers who placed orders above the average order amount.
SELECT DISTINCT c.first_name, c.last_name, o.total_amount
FROM customers c
JOIN orders o ON c.customer_id = o.cutomer_id
WHERE o.total_amount > (
  SELECT AVG(total_amount) FROM orders
);

In [0]:
-- List all products that have been sold more than 5 times in total
select product_name from order_details 
group by product_name
having sum(quantity) > 2;

-- if we want this by using subquery then in place of 2 we can write select 2, it means 2

In [0]:
-- List the customers and their total quantities of products ordered.
-- We can create CTE
with customer_orders as (
select c.first_name, c.last_name, sum(od.quantity) as total_quantity
from customers c
inner join order_details od on c.customer_id = od.cutomer_id
group by c.customer_id, c.first_name, c.last_name
)
select  * from customer_orders where total_quantity > 3;

In [0]:
-- Find products with their total sales revenue (price * quantity).
with product_sales as(
  select od.product_name, sum(od.price_each*od.quantity) as total_revenue
  from order_details od
  group by 1
)

select * from product_sales where total_revenue > 10000;

## case statements (SQL ID/ ELSE)

In [0]:
-- Categorize each order as 'Small', 'Medium', 'Large'.
select o.order_id, o.total_amount,
case 
when o.total_amount < 1000 then 'small'
when o.total_amount between 1000 and 5000 then 'medium'
else 'large'
end as order_size
from orders o;

In [0]:
-- We can also create a CTE for categorizing each order as 'Small', 'Medium', 'Large' and later can use this CTE to find out if we want to particularly find small/ large or medium.

with categorized_orders as (
select o.order_id, o.total_amount,
case 
when o.total_amount < 1000 then 'small'
when o.total_amount between 1000 and 5000 then 'medium'
else 'large'
end as order_size
from orders o
)
 select * from categorized_orders where order_size = 'medium';

In [0]:
-- Label cutomers as 'New' or 'Returning' based on order count.
select c.first_name, c.last_name,
case when count(o.order_id) = 1 then 'new'
when count(o.order_id) > 1 then 'returning'
end as customer_type
from customers c
left join orders o on c.customer_id = o.cutomer_id
group by c.customer_id, c.first_name, c.last_name;

## FUNCTIONS(STRING + DATE)

In [0]:
select upper(c.first_name) as FIRST_NAME_UPPERCASE from customers c

In [0]:
select lower(c.first_name) as FIRST_NAME_LOWERCASE from customers c;

In [0]:
-- concatenation and upper case
select upper(concat(c.first_name," ",c.last_name)) as full_name from customers c;

In [0]:
-- Extract month of each order from the order date.
select month(o.order_date) as order_month, count(o.order_id) as total_orders
from orders o
group by order_month
order by order_month;

-- insted of this group by order_month and order by order_month we can also write like this group by 1 and order by 1

In [0]:
-- list each cutomer's name + their total spend + spending category.
-- create CTE
with customer_spend as(
  select c.customer_id, concat(c.first_name, ' ', c.last_name) as name,
  sum(od.quantity * od.price_each) as total_spent
  from customers c  
  inner join orders o on c.customer_id = o.cutomer_id
  inner join order_details od on o.order_id = od.order_id
  group by c.customer_id, c.first_name, c.last_name
)

select name, total_spent,
case 
when total_spent < 1000 then 'Bronze'
when total_spent between 1000 and 2000 then 'Sliver'
else 'Gold'
end as customer_tier
from customer_spend;

In [0]:
-- Write a join query to show cutomer name, prodcut and region
select c.customer_id, concat(c.first_name, ' ', c.last_name ) as name, od.product_name
from customers c inner join order_details od on c.customer_id = od.cutomer_id
group by c.customer_id, c.first_name, c.last_name, od.product_name;